doctype html
html lang="es-MX"
  head
    meta charset="utf-8"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    = title_tag
    /  = current_page.page_title
    / ! Google Tag Manager
    /  javascript:
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date()
        .getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);})
        (window,document,'script','dataLayer','GTM-XXXXXX');
    / ! End Google Tag Manager
    link(rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css"
    integrity="sha256-qNrgGqSO9Xu/fUg5vIi1xwbnOleSZRAidBaJ8U4qEy8="
    crossorigin="anonymous")
    / link(rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=")
    link(rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous")
    = stylesheet_link_tag "style"
    = favicon_tag "favicon-196x196.png", :size => "196x196"
    = favicon_tag "favicon-160x160.png", :size => "160x160"
    = favicon_tag "favicon-96x96.png", :size => "96x96"
    = favicon_tag "favicon-32x32.png", :size => "32x32"
    = favicon_tag "favicon-16x16.png", :size => "16x16"
    = favicon_tag "favicon.png"
    = favicon_tag "favicon.ico", :type => "image/ico"
    link rel="apple-touch-icon-precomposed" sizes="180x180" href="apple-touch-icon-180x180-precomposed.png"
    link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png"
    link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png"
    link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png"
    link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png"
    link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png"
    link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png"
    link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"
    link rel="apple-touch-icon-precomposed" sizes="180x180" href="apple-touch-icon-180x180-precomposed.png"
  body(class=page_classes)
    = yield
    = javascript_include_tag "main"
