@mixin at($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin before($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin between($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
